{
	email {$CADDY_EMAIL}
}

lightwalletd.stakehold.rs {
	reverse_proxy lightwalletd:9067 {
		transport http {
			# Speak HTTP/2 (h2c) to lightwalletd, which is running plaintext gRPC
			versions h2c
		}
	}
}

grafana.stakehold.rs {
	# Enable automatic HTTPS

	# Configure headers for proxying to Grafana
	header {
		# Enable HTTP Strict Transport Security
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		# Disable unnecessary caching
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
		# No referrers when following links from this page
		Referrer-Policy "no-referrer"
		# Defense against some XSS attacks
		X-XSS-Protection "1; mode=block"
		# Disable content-type sniffing
		X-Content-Type-Options "nosniff"
		# Remove server header
		-Server
	}

	# Proxy to Grafana container
	reverse_proxy grafana:3000
}
